<!DOCTYPE html>
<html>
  <head>
    <title>DemoRailAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>

  <body style="background-color: #f0f0f0;">
  	<%= render 'layouts/header' %>
    <div class="media-object container-fluid" style="text-align: center;">
      <img src="https://lh3.googleusercontent.com/j7cwCddDtjp5_exH3viJXm_uVHG8x-5kKRjRny31GZ7PtG9X0-cX_5Au6m_Q7GJAJ6OIAl2FnvynLYlaKBOoFPKf3bFFM8bYVRRygoWhvCwLp9nAO1FyLD3GInCd7mKthSo0adR-I8EHifHOQZHyA5xmbLH_Q9lP5Q7JyIOaJuNPpfrv7SwDuHriThQ1i_106HLz-_eyJznr_0t8FG8WPo_Y6q5gyb98PKyF8tVQhKgsWXOid10Ba3hcLETo15UWNcfLZS1fumm62qSXeKT1nV4_cBUk1HxjOY0awKrcE7CcskpsRz88MZEXr_cgRkXs0TbSbVQJB4rjoiGIaBioZTxej0FAIX1rgisuDd2SYmN8AZU9EBobLbQHrev1QR7lmYEZuxQ29ze0Juy80H8VlHFQLw1NWCNbObUq3xd0lfWKczkEuOrWJlNrnECehvc-Otk9cvgy2LVLtuAyQpqH1vbO2xSi92HsdcaWHXx5y1KqMMI6jgnHad9Ll-p5kZ7ELjw3iDHQjS3bKeBawvc0G4WBjomNo85C_ViBF3DZ83e7Vsy9fgcHGJz_3UA90EuiLM3kaZXon_ObjGj16QLRxob6gHUa_6m3ECU9sdqeHAxwaIJuQjZJ=w720-h300-no" alt="Cinque Terre" width="100%" height="100%">
    </div>
    <div class="container-fluid">
    	<div class="row content" style="padding: 2%">
    		<div class="col-md-3 sidenav well" style="height: 100%;">
      				<%= render 'layouts/left' %>
      				<%= render 'layouts/leftbot' %>
    		</div>
    		<div class="col-md-9" style="max-height: 100%; padding-left: 2%">
          
    			<%= yield %>
    		</div>	
    	</div>
    </div>
    <hr>
    <hr>
    
    <%= render 'layouts/footer' %>

  </body>
</html>
